/*
*   Cards
*/

.cards__container {
  grid-column: span 2;
  display: grid;
  gap: 1rem;

  .card {
    border: 1px solid $border-grey;
    border-left: 10px solid $color-blue;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0;
  }
}
