@import url(https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800&display=swap);
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Barlow, sans-serif;
  font-weight: normal;
}

/*
*   Estilos Varios
*/

.lista__edificios {
  display: flex;
  align-items: center;
  border: 1px solid $border-grey;
  border-radius: 10px;

  .seleccion__edificio {
    position: relative;
    display: inline-block;

    svg {
      display: block;
    }

    .seleccion__edificio__contenido {
      position: absolute;
      top: 50%;
      left: 7%;
      transform: translate(0%, -50%);
      color: white;
      p {
        display: flex;
        align-items: center;
        margin: 0;
        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .edificios__listado {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and(max-width:900px) {
  .lista__edificios {
    display: block;
    border: 1px solid $border-grey;
    border-radius: 10px;

    .seleccion__edificio {
      width: 100%;
      position: initial;
      display: inline-block;

      svg {
        display: none;
      }

      .seleccion__edificio__contenido {
        position: initial;
        top: initial;
        left: initial;
        -webkit-transform: initial;
        transform: initial;
        color: white;
        background-color: $color-blue;
        padding: 1rem;
        border-radius: 9px 9px 0 0;
        p {
          svg {
            display: block;
          }
        }
      }
    }

    .edificios__listado {
      width: auto;
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;
      line-height: 2rem;
    }
  }
}
